body{
  margin: 5;
  background: pink;


}
h1{
  margin: 5px;
  font-size: x-large;
  color: rgb(68, 16, 117);
  font-size: 3rem; 
}
button{
  margin: 3px;
  display: block;
  background: rgb(206, 133, 183);
  border-radius: 50px;
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 2rem;
  color: #722851;
}
button:hover { 
  background: #a43c75;
}

button:active {
  transform: scale(0.9);
}
header {
  margin-right: 5rem; 
}
/*******************************************************************/
br {
  content: "";
  margin: -2em;
  display: block;
  font-size: 24%;
}
div#map{
  margin:auto;
  text-align:center;
}
div#map>div{
  border:1px solid black;
  display:inline-block;
  width:30px;
  height:30px;
  margin:0;
  padding:0;
}
div#map>div.emptpySpace{

    background-image: url("img/boxHome.png");
    background-color: #cccccc;

}
div#map>div.wall{
  background-image: url("img/wall.png");
  background-color:brown;
}
div#map>div.MovableBlock{
  background-image: url("img/box.png");
  background-color:black;
}
div#map>div.Player{
  background-color:red;
}
div#map>div.GoalArea{
  background-image: url("img/goal.png");
  background-color:yellow;
}
div#map>div.PlayerGoalArea{
  background-color:red;

}
div#map>div.BoxGoalArea{
  background-image: url("img/box.png");

}